/*STYLE SHEET FOR PORTFOLIO*/
html{
  scroll-behavior: smooth;
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    color: aliceblue;
    font-family: myFirstFont;
}

@font-face {
  font-family: myFirstFont;
  src: url(MonExt-Reg.otf);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body {
    background-color: black;
    color: aliceblue;
}
.a{
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 25%;
    padding: 30px 0 0 45px;
    z-index: 1;
    min-width: 50px;
}

.index {
    padding: 40px;
    font-size: 26px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.projects {
    color: white; 
    background-color: black;
}

.projects:hover {
    color: black;
    background-color: white;
}

.title {
    font-size: 130px;
    text-align: center;
    padding-top: 180px;
}

.subtitle {
    font-size: 20px;
    text-align: center;
}

.mypic {
    width: 886px;
    filter: grayscale(0.8);
    z-index: -1;
}

.landingtxt {
    position: relative;
    bottom: 300px;
    font-size: 54px;
    padding-left: 50px;
        
}

.desctxt {
    width: 100%;
    display: flex;
/*    padding-left: 60px;*/
}

.desctitle {
    font-size: 44px;
    padding-left: 100px;
}

.descpara {
    width: 40%;
    position: relative;
/*    left: 00px;*/
    font-size: 18px;
    
}
.descpara {
    width: 40%;
    position: relative;
/*    left: 200px;*/
    font-size: 18px;
    
}

.who {
    position: relative;
    bottom: 80px;
    left: 200px;
}

.dpara {
    padding-bottom: 30px;
}

.line {
    width:90%; 
    position: relative;
    left: 5%;
/*    padding-bottom: 30px;*/
}

.exptitle {
    position: relative;
    top: 100px;
    padding-left: 100px;
}

.date {
    font-size: 12px;
}

.exppara {
    padding: 80px 0 40px 280px;
}

.spacing {
    padding-bottom: 10px;
}

.lang {
    position: relative;
    left: 230px !important;
    padding-bottom: 55px;
/*    padding-left: 400px;*/
}

.interests {
    position: relative;
    left: 100px;
}

.contacttitle {
    font-size: 56px;
/*    position: relative;*/
/*    left: 550px;*/
    padding: 30px 20px 30px 577px;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 0;}
    69% { opacity: 0.69; }
    100% { opacity: 1;}
} 

@keyframes fadeOut {
    0% { opacity: 0;}
    69% { opacity: 0.69;}
    100% { opacity: 1;}
}

.contacttitle:hover {
    font-family: secFont;
    font-size: 86px;
    color: #e6e6e6;
    padding: 0px 20px 30px 577px;
    display: block;
    -webkit-animation: fadeOut 3s;
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
    font-style: italic;

}

.fline {
    width:56%; 
    position:relative; 
    left:575px;
/*    min-width: 835px;*/
    padding-bottom: 30;
}

.felements {
    padding: 70px 0 60px 525px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    min-width: 700px;
    
}

.ftitle {
    padding-bottom: 14px;
    font-size: 22px;
}

.socials {
    
}

.address {
    
}

.sayhi {
    
}

.totop {
    width: 15%;
    position: absolute;
    top: 200px;
    left: 200px;
}

.copyrights {
    padding: 35px 0 35px 577px;;
    font-size: 11px;
/*    position: relative;*/
/*    left: 543px;*/
}

/*
.horizontal-scroll-wrapper {
  width: 300px;
  height: 1200px;
    white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform:rotate(-90deg) translateY(-100px);
}

.horizontal-scroll-wrapper > div {
  width: 300px;
  height: 50px;
  transform: rotate(90deg);
  transform-origin: right top;
}
*/